#friends-display-link {
  /* display: flex;
  justify-content: center;
  align-items: center; */
  text-align: center;
  width: 100%;
  display: block;
  background-color: #fafafa;
  padding: 15px 0px;
  font-weight: 500;
  font-size: 20px;
  margin-bottom: 10px;
  margin-top: -15px;
}

#friends-display-link i {
  margin: 0px 10px;
  color: #d5d5d5;
}

.friends-screen__channel {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  margin-top: 25px;
  padding-top: 15px;
}

.friends-screen__channel-header {
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: rgba(0, 0, 0, 0.5);
}
